.container {
    width: 650px !important;
}
.inlineb{
    display: inline-block;
}
.top{
    vertical-align: top;
}
#online-users{
    width: 300px;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}
.create-button{
    display: block;
}

.list-group-item.me {
  background-color: #bce8f1;
  z-index: 2;
  border-color: #9ac6c9;
}

.navbar-inverse .User {
    margin-top: 10px;
    color: white;
}

.title-bar a {
    padding: 5px;
    color: #f9f381;
    cursor: pointer;
}

.title-bar a:hover {
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}

.attach-left {
    width: 240px;
    position: relative;
    left: -195px;
    top: 4px;
}

a#brand {
    font-size: 14pt;
}


.empty-col {
    width: 100%;
    text-align: center;
}

.user-name-status {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
}

.avatar {
    width: 48px;
    height: 48px;
    margin: 0px; 
    padding: 0px;
    margin-right: 5pt;
    margin-left: -5pt;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.avatar img {
    height: 48px;
    margin-left: auto;
    margin-right: auto; 
    display: block;
}

.online-users .list-group-item {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.online-users h4 {
    margin: 0px;
}

.User.status {
  padding-left: 15px;
}



.Msg {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}


button.Event {
    margin: 0px;
    padding: 3px;
}

button.Event span.Event {
    padding: 0px;
    margin: 2px;
    margin-top: -2px;
}


div#login-div {
   width: 300px;
   margin-left: auto;
   margin-right: auto;
}


div.event {
   border: 1px solid black;
   width: 300px;
   margin: 5px;
   padding: 5px;
   float: left;
}

div.name {
    font-weight: bold;
    text-align: center;
    background-color: #CCCCCC;
}

.show .label {
    display: inline-block;
    color: auto;
}

.show .value {
    display: inline-block;
}

.edit .label {
    display: inline-block;
    color: auto;
}

.edit .value {
    display: inline-block;
}

.record .show-field .label {
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    padding: 2px 5px 2px 5px;
    color: auto;
}

.record .show-field .value {
    display: inline-block;
    overflow: hidden;
    padding: 2px 5px 2px 5px;
}

.posts {
    /* border: 1px solid; */
    padding: 5px;
    margin: 5px;
}

.welcome {
    font-weight: bold;
    margin: 2px 5px 2px 5px;
}

 
.editable-click {
    cursor: pointer
}

.user-buttons {
    text-align: right;
    vertical-align: middle;
}

.user-buttons .User, .user-buttons .User.me {
    display: inline-block;  
    margin: 0px;
    padding: 0px;
    background-color: inherit;
    border: 0px;
    text-align: left;
}

.user-buttons .user-name-status {
    width: auto;
    vertical-align: middle;
}

.user-buttons h4 {
    margin: 0px;
}

.user-buttons #login-buttons a {
    color: #f9f381;
}

.accounts-dialog {
    background-color: rgb(34, 34, 34);
}

.my-icon-btn {
    padding: 1px 2px 1px 2px !important;
    margin-top: -3px !important;
}

.join-leave {
    float: right;
    margin: 5px 2px 5px 2px;
}

.addToNetwork {
    cursor: pointer
}

.editRelBtn, .removeRelBtn {
    cursor: pointer
}

.friendUserDiv {
    display: inline-block;
}

.networkTreeOuter li.outer {
    font-weight: bold;
    text-align: left
}

.user_info {
    display: inline-block;
    vertical-align: top;
}

.user_status {
    display: inline-block;
    vertical-align: top;
    margin-left: 20pt;
}

.user_profile {
    width: 70%;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
}

#profile_name {
    font-weight: bold;
}

#profile_status {
    border: 1px solid grey;
    border-radius: 4pt;
    padding: 5pt;
    margin-top: 5pt;
}

.status_label, .network_label, .wall_label {
    font-weight: bold;
    margin-bottom: 10px;
}

.user_profile_bottom {
    margin-top: 20pt;
}

img.editable-click {
    border: 0pt !important;
}

.events-pane {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.selected-event-pane {
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.body-container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#create_event {
    float: right;
    margin: 10px;
}

a.event-name {
    cursor: pointer;
}

.evlab {
    font-weight: bold;
}

.event-info .glyphicon, .event-info i {
    cursor: pointer;
}

.host-guest {
  margin-right: 5px;
}

.host-guest i {
  vertical-align: top;
  margin-left: -5px;
}

.event-info dt, .event-info dd {
  padding-top: 3px;
  padding-bottom: 3px;
}

li.selected {
  font-weight: bold;
}

ul.events i.icon-remove {
  cursor: pointer;
}